*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
}

.score-board {
  display: flex;
  justify-content: center;
}

.current-score, .best-score {
  width: 15rem;
  padding: .5rem 2rem;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

.pizza-card {
  
}

.pizza-card img {
  max-width: 10rem;
}
